.search-results {
  padding: 2rem;
  background-color: #000000;
  min-height: 100vh;
}

.search-results h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color:white;
}

.results-list .movie-card {

  flex-basis: calc(12.50% - 1rem);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: #111;
  overflow: hidden;
  height: auto;
  max-height: 320px;
  transition: transform 0.2s ease-in-out;
}

.results-list .movie-card img {
  width: 100%;
  /* max-height: 190px; */
  height: auto;
  object-fit: cover; 
  border-bottom: 1px solid #ddd;
}

.results-list .movie-card h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;
  color: white;
}

.results-list .movie-card p {
  font-size: 0.9rem; 
  padding: 0 1rem 1rem;
  color: #ffffff;
  text-align: center; 
}

.results-list .movie-card:hover {
  transform: scale(1.05);
  border: 1px solid white;
}

@media (max-width: 1024px) {
  .results-list .movie-card {
    flex-basis:  calc(20% - 1rem); 
  }
}

@media (max-width: 768px) {
  .results-list .movie-card {
    flex-basis: calc(25% - 1rem); 
  }
}

@media (max-width: 480px) {
  .results-list .movie-card {
    flex-basis: calc(33.33% - 1rem);
  }
}