.trending-container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

/* Trending section */
.trending-section {
    background-color: #000;
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

.trending-text {
    flex-basis: auto;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
}

.trending-text h2 {
    font-size: 2rem;
    font-weight: bold;
}

.trending-carousel {
    flex-basis: auto;
    width: 30%;
    padding: 0 20px;
}

/* Latest Movies Section */
.latest-movies-section {
    width: 100%;
    background-color: black;
    margin-top: 20px;
    padding: 1rem;
    padding-bottom: 2rem;
}

.section-header {
    text-align: left;
    margin-bottom: 2px;
    padding-left: 1rem;

}

.section-header h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.latest-movies-scroll-container {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth;
    gap: 5px;
    padding: 0 20px; 
    position: relative;
}

.latest-movies-scroll-container::-webkit-scrollbar {
    display: none;
}

.movie-card {
    min-width: 150px; 
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;
    background-color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-card-image {
    width: 100%;
    height: auto;
}

.divider-line {
    width: 100%;
    height: 6px; 
    background-color: #464646;
}