
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #111;
  color: white;
  z-index: 1000;
}

.nav-left .nav-logo {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.nav-left img{
  height: 50px;
}

.nav-right{
  display: flex;
  margin-right: 1.5rem;
  align-items: center;
}
.nav-icon {
  margin-left: 2rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-icon:hover {
  color: #b9b1b1;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .nav-left .nav-logo,
  .nav-right {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .nav-left img {
    height: 40px;
  }

  .nav-icon {
    font-size: 1.2rem; 
    margin-left: 1rem;
  }
}
  

